@media only screen and (min-width: 768px) {
#top {
     height: 40px;
    position: relative;
    
   /* background-color: #446AAF; */
        background: -webkit-linear-gradient(rgba(3,3,3,0),rgba(1,1,1,0)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(3,3,3,0),rgba(1,1,1,0)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(100,100,100,1),rgba(20,20,20,1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(100,100,100,1),rgba(20,20,20,1)); /* Standard syntax */
        /* #0489B1 */
    color: white;
    padding: 1%;
}
#menu{
    position: relative;
    padding: 0%;
    background: #2f5377;
 
}

#content{
         align-content: center;
         margin-left: 150px;
         margin-top: 20px;
         width: 1000px;
         height: 450px;
         background:#dddddd;
         /*Bordes redondeados*/
         border-radius: 15px 15px 15px 15px;
         -moz-border-radius: 15px 15px 15px 15px;
         -webkit-border-radius: 15px 15px 15px 15px;
         border: 0px ridge #3220a8;
        
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #828a87; 
        /*#339973;*/
    padding: 5px;
   
   
   
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}



}
