body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 1px;
    background-position: center center;
   background-color: #6d695c;
    background-image:
        repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
        linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
    /* background-image: url('../images/fondo1.jpg');*/
    height: 650px;
}
h2{
    color: black;
    font-size: 20px;
}
h3{
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: buttonface;
    text-align: center;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  15px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: white ;
    text-align: center;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.panel{
    width: 1000px !important;
    height: 450px;
    margin: 0 auto !important;
    text-align: center !important;

} 

.datosClienteFactura{
    width: 100% !important;
    height: 101px !important;
}
.datosCliente{

    padding: 1px !important;
    text-align: justify !important;
    font-size: 14px !important;
    height: 100px !important;
    size: 1000px !important;
}
.datosFactura{
    padding: 1px !important;
    text-align: center !important;
    font-size: 14px !important;
    size: 200px !important;

}
.dialogoClientes{
    white-space: normal !important;
    text-align: center !important;

}
.txtClientes{
    font-size: 20px !important;
}

/*Estilos datatable*/

/* modificacion del color de las filas de las p:datatables*/
.ui-datatable-odd {
    background: #ffffff !important;
}

.ui-datatable-even {
    background: #F2F5F9 !important;
}
.ui-datatable .ui-datatable-titlebar{
    background: #15768B !important;
}

.ui-datatable-header{
    background: #15768B !important;
    color: white;
}
/* panel de la factura*/
.ui-panel  .ui-panel-titlebar{
    background: #15768B !important;
    color : white;
    text-align: center;
    font-size:  15px;
}

/*Botones modificar estilo*/
.btnModificar{
    background: #158B4C !important; 
    color:#FEFEFE !important;
}
/*personalización para lo forms*/
.formularios{
    text-align: center !important;
}

.ui-menuitem-text{
    color:white;
}

.ui-menuitem{
    background: #2f5377 !important;
}

.ui-menu-child{
    border: none;
    background: #2f5377 !important;
}
.menu{
    font-size: 13px !important;
    font-family: Verdana, 'Verdana CE',  Arial, 'Arial CE', 'Lucida Grande CE', lucida, 'Helvetica CE', sans-serif !important;
   
    margin: 1px !important;
    background-position: center center !important;  background: #2f5377 !important; border: none !important;
    
}
 
.ui-panel .ui.panel-grid .header{
    background: #045491 !important;
}
