
h2{
    color: black;
    }
 h3{
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: buttonface;
    text-align: center;
    }
    
h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    
    font-size:  25px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: white ;
    text-align: center;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}
.pie{
    background: linear-gradient(rgba(4,100,100,1),rgba(20,20,20,1)); /* Standard syntax */
    height: 60px;
}
